form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgb(56, 69, 168);
  border: none;
  border-radius: 10px;
}
.label_title {
  margin: 10px;
  padding: 5px;
  color: wheat
}

.btn_submit {
  margin: 10px 0px 0 0;
  border: none;
  padding: 10px; 
  border-radius: 0 0px 10px 10px;
  background-color: darkgreen; 
  color: wheat
}
.content {
  margin: 10px 0px; 
  padding: 10px 10px; 
  border: none
}
.title {
  margin: 10px 0px;
  padding: 10px 10px;
  border: none
}